<div class="profile_wrapper">
  <div class="profile_wrapper_header">
    <div class="profile_wrapper_header_content">
      <div class="profile_wrapper_header_content_image">
        <% if @user.avatar %>
          <%= image_tag @user.avatar,class: "user_avatar" %>
        <% else %>
          <%= image_tag "avatar.png" %>
        <% end %>
      </div>
      <div class="profile_wrapper_header_content_details">
        <%= @user.name %>
      </div>
    </div>
  </div>
  <div class="tab_wrapper">
    <div class='tabs'>
      <ul class='horizontal'>
        <li><a href="#tab-1">profile</a></li>
        <li><a href="#tab-2">card</a></li>
        <li><a href="#tab-3">fff</a></li>
      </ul>
      <div id='tab-1'>
        aaaaaaa
      </div>
      <div id='tab-2'>タブ２の中身</div>
      <div id='tab-3'>タブ３の中身</div>
    </div>
  </div>
</div>
