// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//topList
.topPage{
  width: 100%;
  min-height: 93vh;
  padding-top: 30px;
  background: #00608d;
  // overflow-x: scroll;
  .listWrapper{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: baseline;
    .list{
      justify-content: space-between;
      position: relative;
      background: #e2e4e6;
      padding: 10px;
      margin-left: 20px;
      min-width: 250px;
      &:last-child{
        margin-right: 20px;
      }
      &_header{
        display:flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        &_title{
          font-size: 20px;
          margin: 0;
        }
        &_action{
          .fa-pen, .fa-trash{
            font-size: 18px;
            color: #8c8c8c;
          }
          .fa-trash {
            margin-right: 10px;
          }
        }
      }
      .cardWrapper {
        overflow-y: scroll;
        max-height: 76vh;
        .cardDetail_link{
          text-decoration: none;
          z-index: -1;
        }
        .card {
          z-index: 100;
          margin-bottom: 10px;
          padding: 10px;
          &_title {
            font-size: 17px !important;
          }
          &_detail {
            display: none;
            &.is-exist {
              display: block;
              color: #999;
              & > i {
                display: block;
              }
            }
          }
        }
        .addCard {
          color: #8c8c8c;
          &_link {
            color: #8c8c8c;
          }
        }
      }
    }
  }
}
