// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_wrapper{
  width: 100%;
  height: 100%;
  &_header{
    width: 100%;
    height: 250px;
    background-color: rgba(0,152,152,0.6);
    display:flex;
    align-items: center;
    &_content{
      width: 70%;
      height: 200px;
      padding: 0 30px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      &_image{
        .profile_avatar{
          width:100px;
          height:100px;
          border-radius: 20px;
          opacity: 0.8;
        }
      }
       &_details{
        margin-top: 10px;
        .profile_name{
          font-size: 40px;
          color: #ffffff;
          margin: 0;
          font-family: 'Noto Serif', serif;
        }
       }
       &_level{
        display: flex;
        .level{
          font-size: 2rem;
          color: #5B5B5B;
          font-family: 'Noto Serif', serif;
        }
        .title{
          font-size: 2rem;
          margin-left: 10px;
          color: #5B5B5B;
          font-family: 'Noto Serif', serif;
        }
      }
    }

  }
  .tabs{
    width: 100%;
    margin: 0 auto;
    .horizontal{
      display: flex;
      margin: 0;
      justify-content: center;
      background-color: rgba(0,152,152,0.6);
      border-bottom: 5px solid rgba(255,255,255,0.8);
      li{
        margin-right: 10px;
        letter-spacing: 3px;
        list-style: none;
        background-color: rgba(0,0,0,0.6);
        box-shadow: 2px 2px 4px gray;
        font-family: 'Noto Serif', serif;
        &:first-child{
          letter-spacing: 2px;
        }
        &:last-child{
          margin-right: 30px;
          letter-spacing: 4px;
        }
        &:hover{
        background-color: rgba(0,0,0,1);
        }
        a{
          color: #ffffff;
          text-decoration: none;
          display: inline-block;
          padding: 10px 20px;
        }
      }
    }
    .activity_logs{
        min-width: 500px;
        width: 1000px;
        margin: 20px auto;
        .fa-align-right{
          font-size: 1.5rem;
          margin-right: 0.5rem;
          color: rgba(0,0,0,0.7);
        }
      }
    .tab_title{
      display: inline-block;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom:solid 3px rgba(0,152,152,0.6);
      padding-right: 4rem;
      color: rgba(0,0,0,0.7);
      font-family: 'Noto Serif', serif;
    }
    #tab-1,#tab-2,#tab-3{
      width: 100%;
      height: 100vh;
      margin-top: 5rem;
    }
    #tab-1{
      .activity_log{
        .activity_log_avatar{
          border-radius: 50%;
          width:50px;
          margin-bottom:10px;
        }
        .activity_name{
          color:rgba(0,152,152,0.6);
          font-weight:bold;
        }
        .activity_time{
          padding-left: 2rem;
          font-size: 12px;
          color: rgba(0,0,0,0.7);
        }
      .bar_box{
        margin: 10px;
        height: 1px;
        border-width: 0;
        background-image: -webkit-linear-gradient(left,
        transparent 0%,#283593 50%,transparent 100%);
        background-image:         linear-gradient(90deg,
        transparent 0%,#283593 50%,transparent 100%);
        }
      }
    }
  }
}
