<header id="header">
    <%= image_tag 'logo.png',class: 'headerlogo' %>
    <ul class="lists">
    <li><%= link_to 'ろぐあうと',destroy_user_session_path,method: :delete %></li>
    <li>めも作り</li>
  </ul>
</header>
